h2{
    
    font-size: 70px;
    font-weight: lighter;
}

.descricao{
    text-indent: 10px;
    color: burlywood;
    background-color: beige;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: line-through;

}

#ancora{
    text-decoration: none;
    color: cadetblue;
    text-shadow: 20px;
    text-decoration: overline;
}
